body, html {
  margin: 0;
}
header {
  background-color: #2a3942;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box; 
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.logo h1 {
  font-size: 1.5rem;
  margin: 0;
}
.slogan {
  font-size: 0.8rem;
  margin-top: 5px;
}
nav {
  display: flex;
  margin-left: 50px;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}
.btn {
  padding: 8px 15px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.main-container > div {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.subdivision {
  box-sizing: border-box;
  margin-left: 100px;
  margin-right: 100px;
}
.circulo {
  width: 100px;
  height: 100px;
  background-color: rgb(80, 80, 80);
  border-radius: 50%;
  vertical-align: middle;
}
.circulo2 {
  width: 115px;
  height: 100px;
  background-color: rgb(80, 80, 80);
  border-radius: 50%;
  vertical-align: middle;
}
.texto {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-left: 100px;
  font-size: 12px;
}
 .retangulo {
  width: 175px;
  height: 20px;
  background-color: rgb(80, 80, 80);
  margin-bottom: 10px;
}
.retangulo-container {
  display: flex;
}